.header {
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;

  a {
    color: lighten($color: #000000, $amount: 20%);

    &:hover {
      opacity: 0.75;
    }
  }
}

.titleBox {
  h1 {
    margin-bottom: 0;
  }
  .title {
    font-size: 150%;
    text-decoration: none;
  }

  .subTitle {
    font-weight: bold;
    color: lighten(#234099, 20%);
  }

  p {
    margin-top: 0;
  }
}

.navList {
  display: flex;
  margin: 0 auto;

  .navItemTitle {
    display: none;
  }

  li {
    list-style: none;
  }

  .navItem {
    padding: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .navList {
    padding-left: 0;

    .navItem {
      padding-left: 0;
      margin-right: 0.5rem;
    }
  }
}
