@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
$color-primary: #00b9ae;
$color-secondary: #03312e;

body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: Spartan;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #0093e9;
  background-image: linear-gradient(0deg, #0093e9 0%, #80d0c7 100%);

  color: $color-secondary;
}

.content {
  flex-grow: 1;
}

h2 {
  font-size: 150%;
}
