@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
$color-primary: #00b9ae;
$color-secondary: #03312e;
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: Spartan;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $color-secondary;

  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.content {
  flex-grow: 1;
}

h2 {
  font-size: 150%;
}

footer {
  margin-top: 3.5rem;
}
