$color-primary: #00b9ae;

.projectCard {
  padding: 1.5rem;

  background-color: lighten(#fffde0, 1%);

  margin: 3rem 5rem;
  border-radius: 5px;

  -webkit-box-shadow: 8px 8px 18px -1px rgba(3, 49, 46, 0.55);
  box-shadow: 8px 8px 18px -1px rgba(3, 49, 46, 0.55);

  a {
    background-color: lighten(#234099, 20%);
    font-size: 120%;
    justify-content: right;
    position: relative;
    left: 32rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    text-decoration: none;
    margin: 5rem 1rem inherit inherit;
  }

  .link {
    margin-right: 1rem;
  }
}

.techandlinks {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 0;
    li {
      font-size: 80%;
      list-style: none;
      background-color: lighten(#234099, 10%);
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 10px;
      text-align: center;
    }
  }
}
