$color-primary: #00b9ae;

.projectCard {
  padding: 1.5rem;
  background-color: $color-primary;

  margin: 3rem 5rem;
  border-radius: 5px;

  -webkit-box-shadow: 8px 8px 18px -1px rgba(3, 49, 46, 0.55);
  box-shadow: 8px 8px 18px -1px rgba(3, 49, 46, 0.55);

  a {
    background-color: #f49f0a;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    text-decoration: none;
    margin: 5rem 1rem inherit inherit;

    -webkit-box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.26);
  }

  .link {
    margin-right: 1rem;
  }
}

.techandlinks {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 0;
    li {
      font-size: 80%;
      list-style: none;
      background-color: #c9fbff;
      padding: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 10px;
      text-align: center;
    }
  }
}
