$color-primary: #00b9ae;

.projectCard {
  padding: 1.5rem;

  background-color: #ffffff;

  margin: 3rem 5rem;
  border-radius: 5px;

  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

  h1 {
    margin-top: 0.5rem;
    font-size: 150%;
    font-weight: bolder;
    color: lighten(#234099, 20%);
  }

  .description {
    letter-spacing: 1.5px;
  }

  a {
    background-color: lighten(#234099, 20%);
    font-size: 120%;
    position: relative;
    left: 70%;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    text-decoration: none;
    margin: 5rem 1rem inherit inherit;

    &:hover {
      opacity: 0.75;
    }
  }

  .linkRepo {
    background-color: #ffffff;
    color: lighten(#234099, 20%);
    border-color: lighten(#234099, 20%);
    border-width: 3px;
    font-weight: bold;

    margin-left: 1rem;
  }
}

.techandlinks {
  .links {
    margin-right: -10%;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 0;
    li {
      font-size: 80%;
      list-style: none;
      background-color: lighten(#234099, 50%);
      color: rgb(27, 22, 95);
      font-weight: bold;
      padding: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 25px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 900px) {
  .projectCard {
    a {
      left: 0%;
    }
  }
}

@media only screen and (max-width: 680px) {
  .techandlinks {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }

    div {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .projectCard {
    margin: 1rem 1rem;
  }
  .techandlinks {
    ul {
      grid-template-columns: 1fr;
    }
  }
}
