h2 {
  font-size: 4rem;
}

.projects-container {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  max-width: 1000px;
  margin-left: 25%;

  .title {
    position: -webkit-sticky;
    top: 1rem;
    h2 {
      color: #ffffff;
      margin-left: -2.5em;
      position: fixed;

      text-shadow: 2px 2px 2px #cecece;
    }
  }
}
